# Dependencies
node_modules/
**/node_modules/
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.log